<h1>Welocome to the Pizzaria!</h1>


<div class="jumbotron">
  <h2>Pizza Menu:</h2>

  <ul>
    {{#each pizzas}} {{#unless gobbled}} {{> pizzas/pizza-block sleep=true}} {{/unless}} {{/each}}
  </ul>
  <div>
    <h2>Half Eaten Nasty Pizzas:</h2>

    <ul>
      {{#each pizzas}} {{#if gobbled}} {{> pizzas/pizza-block sleep=false}} {{/if}} {{/each}}
    </ul>

  </div>


  <h2>Make Your Own Pizza</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="pz">Pizza Name:</label>
      <input type="text" id="pz" name="name">
    </div>

    <div class="form-group">
      <label for="eaten"></label>
      <br>
      <input type="radio" name="gobbled" value="0" checked> Add to our menu?
      <input type="radio" name="gobbled" value="1"> Eat it Now!
      <br>


    </div>
    <button id="make" type="submit">Make A Pizza</button>
  </form>

</div>