header{
    size: 100px;
    margin-bottom: 60px;
    padding: 30px;
    text-align: center;
    background-image: url(../img/flag.jpg);
    background-size: 100%;
}

body{
    background-image:url(../img/pzza.jpg)
}

#main{
    background-color: lightgray;
    border: solid 2px;
}

.create-form{
    border: solid 2px;
    border-radius: 50%;
    margin-top: 205px;
    background: lightgray;
    text-align: center;
    
}



li {
    padding: 5px;
    margin: 5px;
    radius: 100%
    
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    
    #delete{
        src: url(../img.)
    }

  }

  footer{
      width: 100%;
      position: absolute;
      bottom: 0%;
      size: 100px;
      margin-top: 200px;
      padding: 20px;
      text-align: center;
      background: lightgray;
      
  }